{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.subscription.enable }}
{{- with $data.homepage.subscription }}
<section class="call-to-action section bg-opacity" style="background-image: url('{{ .bg_image | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 text-center mx-auto">
        <h2 class="subheading text-white">{{ .title | markdownify }}</h2>
        <p class="text-white">{{ .content | markdownify }}</p>
        <div class="input-group">
            <form action="https://gmail.us6.list-manage.com/subscribe/post?u=980d447aba0078118fe32e3f7&amp;id=92d90438f5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="w-100" target="_blank" >
    <div id="mc_embed_signup_scroll">
	<input type="email" value="" name="EMAIL" class="form-control" id="email" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_980d447aba0078118fe32e3f7_92d90438f5" tabindex="-1" value=""></div>
    <div class="clear"><button class="btn btn-main btn-submit" type="submit" name="subscribe">{{i18n "subscribe"}}</button></div>
    </div>
</form>
          </form>
        </div><!-- /input-group -->
      </div>
    </div>
  </div>
</section><!-- #call-to-action close -->
{{- end }}
{{- end }}
